# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Burney Research Group
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Our group is focused on understanding emissions from agriculture and land use change,
  characterizing climate and air pollution risks to food security, and helping farmers
  and food systems adapt to environmental changes. We are particularly interested in the
  role that short-lived climate pollutants play in this coupled system; and in designing
  robust public policy around seasonal and sub-seasonal hydroclimate variability in a
  warming world. We use methods from physics, statistics, and policy analysis and work
  with data and on the ground.
baseurl: "" # the subpath of your site, e.g. /blog
url: "burney-lab.stanford.edu" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jaburney
github_username:  SDSS-BRG

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Header pages order (left to right)
header_pages:
  - research.markdown
  - people.markdown
  - publications.markdown
  - news.markdown

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
